@@include('./components/meta.html')

<body>

<noscript>
    <div class="js_disabled">В вашем браузере отключена поддержка JavaScript! Для нормальной работоспособности сайта необходимо разрешить использование JavaScript.</div>
</noscript>

<header class="layout-header">
	<div class="layout-header__wrapper">
		
	</div>
</header>

<section class="layout-wrapper">
	@@include('./components/sidebar.html')
	
	@@include('./components/content.html')
</section>

<footer class="layout-footer">
	<div class="layout-footer__wrapper">
		
	</div>
</footer>

<script src="./js/main.min.js"></script>

</body>
</html>