<!DOCTYPE html>
<!-- (c) lnk. celebro | http://www.celebro.ru/ -->
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="on" http-equiv="cleartype">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">

    <meta content="" name="author">
    <meta content="" name="copyright">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/main.min.css">
</head>